@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core & Azure Cloud</a>.</p>
    <p>CI/CD pipeline Setup Successfully Now We Deploy Using Github Workflow </p>
    <span class="btn btn-success">CI/CD Work Fine</span>
</div>
